<%- include("partials/header.ejs"); %>

<h1>Compose</h1>

<form class="" action="/compose" method="post">

  <div class="form-group">
    <label>Title</label>
    <input name="titleCompose" type="text" value="" class="form-control">
  </div>

  <div class="form-group">
    <label>Post</label>
    <textarea name="postCompose" class="form-control" rows="3"></textarea>
  </div>

  <button type="submit" name="buttonCompose" class="btn btn-primary">Publish</button>
</form>

<%- include("partials/footer.ejs") %>
